/* Inicio */

* {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  padding: 5px;
  /* margin: 5px; */
  background-color: azure;
  position: static;
  width: 100%;
  min-height: 20px;
}
header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
  padding-top: 8px;
}

.logo {
  align-items: center;
}

.logo img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 70px;
  width: 90px;
}

nav a {
  font-weight: 500;
}

a:active {
  background-color: aqua;
  color: black;
  font-weight: bold;
}

body {
  margin: 20px;
  font-size: small;
  font-family: "roboto", sans-serif;
  line-height: 20px;
}

.imagenesinicioA {
  width: 275px;
  height: 200px;
  margin: 5px;
  border-radius: 5px;
}

.bienvenidos {
  font-size: large;
  font-weight: bold;
}

.imagenesinicio {
  width: 120px;
  height: 100px;
  margin: 5px;
  border-radius: 5px;
}

.carrusel {
  display: flex;
  flex-wrap: wrap;
}

.form-login {
  width: 250px;
  height: 150px;
  background-color: aquamarine;
  margin: auto;
  margin-top: 10px;
  box-shadow: 2px 3px 5px #000;
  padding: 11px;
  border-top: 4px solid rgb(36, 237, 170);
  color: white;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(36, 237, 170);
  font-size: 15px;
}

.controls {
  width: 100%;
  border: 1px solid rgb(36, 237, 170);
  margin-bottom: 6px;
  padding: 4px 1px;
  background: #d8d6d6;
  font-size: 14px;
}

.controls2 {
  width: 100%;
  height: 10%;
  border: 1px solid rgb(36, 237, 170);
  margin-bottom: 5%;
  padding: 10%, 2%;
  background: #d8d6d6;
  font-size: 14px;
}

.button {
  width: 100%;
  height: 20px;
  /* background: rgb(36, 237, 170); */
  background: linear-gradient(to right, #3f51b5, aqua);
  border: none;
  color: white;
  margin-bottom: 6px;
}

.form-login p {
  height: 20px;
  text-align: center;
  border-bottom: 1px solid rgb(36, 237, 170);
}

body div .imagenbanner {
  width: 250px;
  height: 100px;
  margin: 10px;
  border: 2px black solid;
}

.parrafos {
  font-size: small;
  margin: 10;
  padding: 20px;
  border: 0;
  text-align: justify;
}

.titulos {
  margin: 20px;
  font-size: large;
  color: #000;
  font-family: "roboto", sans-serif;
  /* text-decoration: underline, aqua; */
  font-weight: normal;
  text-align: center;
}

.subtitulos {
  padding: 10px;
  font-size: medium;
  color: rgb(4, 4, 4);
  font-family: "roboto", sans-serif;
  font-weight: normal;
  text-align: left;
}
.form-login2 {
  width: 250px;
  height: 150px;
  background-color: aquamarine;
  margin: auto;
  margin-top: 10px;
  box-shadow: 2px 3px 5px #000;
  padding: 11px;
  border-top: 4px solid rgb(36, 237, 170);
  color: white;
}

.form-login2 h5 {
  margin: 0;
  text-align: center;
  height: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(36, 237, 170);
  font-size: 15px;
}

footer {
  margin-top: 1.2em;
  padding: 20px;
  background-color: #bae8ec8c;
  text-align: center;
}
*/ .footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.2em;
  padding: 20px;
  background-color: #bae8ec8c;
  text-align: center;
}

.contact-info a {
  text-decoration: none;
  color: #333;
  margin-right: 15px;
  padding: 5px;
}

.social-media .texto {
  padding: 5px;
  margin-right: 10px;
}

.red-social {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 7px;
}

.iconos {
  width: 10px;
  height: 10px;
  margin: 1px;
}

/* Adopciones y Tránsito */

.imagenesAdop {
  align-items: center;
}

.imgAdop {
  width: 80%;
  height: 300%;
  margin: 5px;
  border-radius: 5px;
}

.consejos {
  margin-left: 20%;
}

.formAdop {
  width: 250px;
  height: auto;
  background-color: aquamarine;
  margin: auto;
  margin-top: 10px;
  box-shadow: 2px 3px 5px #000;
  padding: 11px;
  border-top: 4px solid rgb(36, 237, 170);
}

.controlsAdop {
  width: 100%;
  border: 1px solid rgb(36, 237, 170);
  margin-bottom: 6px;
  padding: 4px 1px;
  background: rgb(245, 245, 245);
  font-size: 14px;
}

.formCont {
  width: auto;
  height: auto;
  background-color: aquamarine;
  margin: auto;
  margin-top: 10px;
  box-shadow: 2px 3px 5px #000;
  padding: 11px;
  border-top: white;
}

.gifadopcion {
  width: 40%;
  height: 40%;
}

.consejos li {
  list-style: none;
}

.consejos ::before {
  content: "🐾";
}

.button3 {
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, #3f51b5, aqua);
  border: none;
  color: white;
  margin-bottom: 6px;
}

/* Telefonos Utiles */

.imagenestelefonos {
  justify-content: space-between;
  width: 45%;
  margin: 5px;
  border-radius: 5px;
}

.informacion li {
  margin-left: 5%;
  list-style: square;
  font-size: small;
  margin: 20px;
  border: 0;
  text-align: left;
}

/* Buscados y Encontrados */

.form-login3 {
  width: 280px;
  height: 750px;
  background-color: aquamarine;
  margin: auto;
  margin-top: 5px;
  box-shadow: 2px 3px 5px #000;
  padding: 11px;
  border-top: 4px solid rgb(36, 237, 170);
  text-align: left;
  line-height: 20px;
}

.controlsByE {
  width: 95%;
  border: 1px solid rgb(36, 237, 170);
  margin-bottom: 6px;
  padding: 4px 1px;
  background: #d8d6d6;
  font-size: 14px;
}

.carruselbye {
  display: flex;
  flex-wrap: wrap;
}

.imagenbannerbye1 {
  justify-content: space-between;
  width:50%;
  margin: 5px;
  border-radius: 5px;
}

.imagenbannerbye {
  justify-content: space-between;
  width:50%;
  margin: 5px;
  border-radius: 5px;
}

/* Contacto */

.contactoP {
  margin: 10px;
  padding: 10px;
  text-align: justify;
}

.imgCont {
  width: 230px;
  height: 160px;
  margin-left: 25px;
  border-radius: 5px;
}

.contacto {
  width: 100%;
  border-bottom: 2px solid white;
  margin-bottom: 6px;
  padding: 4px 1px;
  background-color: RGB(245, 245, 245);

  font-size: 14px;
}
.checkbox {
  font-size: medium;
  margin-bottom: 10px;
  font-weight: 100;
}


@media (min-width: 768px) {
  header .container {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    font-size: medium;
  }

  .logo img {
    height: 90px;
    width: 110px;
  }

  .logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 7px 8px;
    height: 80%;
  }

  .imagenesinicioA {
    grid-area: imagenInicio;
    width: 100%;
    height: 85%;
  }

  .carrusel {
    display: flex;
    justify-content: center;
  }
  .form-login {
    grid-area: formularioInicio;
    height: 75%;
    width: 250px;
  }

  .controls {
    width: 100%;
    height: 10%;
    border: 1px solid rgb(36, 237, 170);
    margin-bottom: 15%;
    padding: 10%, 2%;
    background: #d8d6d6;
    font-size: 14px;
  }

  .button {
    width: 30%;
    background: linear-gradient(to right, #3f51b5, aqua);
    border: none;
    color: white;

    display: block;
    margin: auto;
    margin-bottom: 5px;

    font-size: 14px;
  }

  .videoinicio {
    grid-area: videoinicio;
    padding: 10px;
    border: 5px;
    width: 350px;
    height: 250px;
    margin-left: 30px;
    border-style: dashed;
    border-color: aqua;
  }

  .parrafos {
    grid-area: parrafos;
    font-size: medium;
  }

  body .inicio {
    display: grid;
    grid-template-areas: "imagenInicio imagenInicio formularioInicio";
    justify-content: space-evenly;
    height: 300px;
    
    
  }

  body .sobrenosotros {
    display: grid;
    grid-template-areas: "parrafos videoinicio";
    justify-content: space-between;
    
  }

 

  .imagenesinicio {
    width: 300px;
    height: auto;
    margin: 10px;
  }

  .titulos {
    margin: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .form-login2 {
    width: 400px;
    height: 150px;
    background-color: aquamarine;
    margin-top: 10px;
    box-shadow: 2px 3px 5px #000;
    border-top: 4px solid rgb(36, 237, 170);
    color: white;
  }

  .form-login2 h5 {
    margin: 0;
    text-align: center;
    height: 20px;
    margin-bottom: 5px;

    border-bottom: 1px solid rgb(36, 237, 170);
    font-size: 15px;
  }

  .controls2 {
    width: 50%;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    padding: 4px 1px;
    background: rgb(245, 245, 245);
    font-size: 14px;
    text-align: letf;
  }

  /* Adopciones y tránsito */
  .gifadopcion {
    width: 30%;
    height: 20%;
  }

  .imgAdop{
    width: 30%;
    margin: 5px;
    border-radius: 5px;

  }

  /* Telefonos Utiles */
  .informacion li {
    margin-left: 5%;
    list-style: square;
    font-size: medium;
    margin: 30px;
    border: 0;
    text-align: left;
  }

  /* Contacto */
  .formCont {
    margin: 20px;
  }

  .contactoP {
    grid-area: parrafoContacto;
    margin: 10px;
    padding: 10px;
    /* text-align: justify; */
  }

  .imgCont {
    grid-area: imagenContacto;
    width: 230px;
    /* width: auto; */
    height: 160px;
    margin-top: 15px;
    margin-left: 25px;
    border-radius: 5px;
  }

  body .phone {
    display: grid;
    grid-template-areas: "parrafoContacto imagenContacto";
    justify-content: space-evenly;
  }

  /* Buscados y Encontrados */

.form-login3 {
  width: 280px;
  height: 750px;
  background-color: aquamarine;
  margin: auto;
  margin-top: 5px;
  box-shadow: 2px 3px 5px #000;
  padding: 11px;
  border-top: 4px solid rgb(36, 237, 170);
  text-align: left;
  line-height: 20px;
  font-size: medium;
}

.controlsByE {
  width: 95%;
  border: 1px solid rgb(36, 237, 170);
  margin-bottom: 6px;
  padding: 4px 1px;
  background: #d8d6d6;
  font-size: 14px;
}



.carruselbye {
  display: flex;
  flex-wrap: wrap;
}

.imagenbannerbye1 {
  justify-content: space-between;
  width:35%;
  margin: 5px;
  border-radius: 5px;
}

.imagenbannerbye {
  justify-content: space-between;
  width:45%;
  margin: 5px;
  border-radius: 5px;
}



}
@media (min-width: 1000px) {
  */ a {
    text-decoration: none;
    color: #000;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 120px;
    width: 150px;
  }

  nav a {
    font-weight: 600;
    padding-right: 10px;
  }

  nav a:hover {
    color: aqua;
  }

  .imagenesinicioA {
    grid-area: imagenInicio;
    width: 600px;
    height: 350px;
    margin: 10px;
    border: 5px;
  }

  .imagenesinicio {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    margin: 30px;
  }

  body {
    margin: auto;
    font-size: medium;
    font-family: "roboto", sans-serif;
  }

  body .inicio {
    display: grid;
    grid-template-areas: "imagenInicio formularioInicio";
    width: auto;
    height: auto;
    justify-content: space-evenly;
  }

  body .sobrenosotros {
    display: grid;
    margin: 30px;
  }

  .titulos {
    margin: 30px;
    padding: 30px;
    color: aqua;
  }

  header .container nav a :hover {
    text-shadow: aqua;
  }

  .parrafos {
    margin: 0;
    padding: 0, 5, 0, 0;
    font-size: medium;
  }

  .videoinicio {
    grid-area: videoinicio;
    padding: 10px;
    border: 5px;
    width: 350px;
    height: 200px;
    margin-left: 30px;
    border-style: dashed;
    border-color: aqua;
  }

  .titulos {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    color: #000;
    text-align: center;
  }

  .form-login {
    width: 100%;
    height: 85%;
    background-color: aquamarine;
    margin: auto;
    justify-content: left;
    margin-top: 10px;
    box-shadow: 2px 3px 5px #000;
    padding: 11px;
    border-top: 4px solid rgb(36, 237, 170);
    color: white;
  }

  .form-login2 {
    width: 50%;
    height: auto;
    background-color: aquamarine;
    margin: auto;
    justify-content: left;
    margin-top: 10px;
    box-shadow: 2px 3px 5px #000;
    padding: 11px;
    border-top: 4px solid rgb(36, 237, 170);
    color: white;
  }

  .controls {
    width: 100%;
    height: 10%;
    border: 1px solid rgb(36, 237, 170);
    margin-bottom: 10%;
    padding: 8%, 2%;
    background: #d8d6d6;
    font-size: 14px;
  }

  .button {
    width: 50%;
    height: 10%;
    background: linear-gradient(to right, #3f51b5, aqua);
    border: none;
    padding: 8px;
    color: white;
    margin-bottom: 20px;
    margin-left: 25%;
  }

  .controls2 {
    width: 90%;
    margin-bottom: 10px;
    padding: 4px 1px;
    font-size: 14px;
    padding: 4px 1px;
    background: rgb(245, 245, 245);
  }

  /* Telefonos Utiles */

  .informacion li {
    margin-left: 5%;
    list-style: square;
    font-size: medium;
    margin: 30px;
    border: 0px;
    text-align: left;
  }

  /* Buscados y Encontrados */
  .form-login3 {
    width: 560px;
    height: 1000px;
    background-color: aquamarine;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 3px 5px #000;
    padding: 11px;
    border-top: 4px solid rgb(36, 237, 170);
    text-align: left;
    line-height: 30px;
  }

  .form-login3 iframe {
    width: 560px;
    height: 400px;
  }

  /* Contacto */

  .imgCont {
    width: 300px;
    height: 200px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
  }

  .contactoP {
    margin-left: 75px;
  }

  .formCont {
    margin: 50px;
  }
}